# Don't track bash-it here
bash-it

# Same for basher
basher

# Same for gitstatus
gitstatus

# Ignore the local bash config file so local installs can customize bash
bashlocal.bash

# Ignore local bashes
local_*

# Ignore vim swaps
*.swp
